/* Color Base*/
  $primary: #9356dc;
  $secondary:  #ff79da;
  $tertiary:#99e2d0;
  $white:#ffffff;
  $black:#000000;
  $gray-shades: (
    "light": #f2f2f2,
    "medium": #e2e2e2,
    "dark": #444444
  );
  $font-weights: (
    "thin": 100,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold" :700,
  );
  
