
.tophead{
border-bottom: 1px solid lightgray;
background: $white;
width: 100%;
box-shadow:0 3px 20px 0px rgba($color: $black, $alpha: 0.55);
padding: 1rem 0;
position: relative;

  &--logo{
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }
} 