@import "../normalize";
@import "../variables";
@import "../mixins";
@import "../base";

body {
  position: relative;
}
.tophead {
  display: flex;
  justify-content: center;
  nav {
    width: 10vw;
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    box-sizing: border-box;

    a {
      display: inline-block;

      i {
        color: map-get($gray-shades, dark);
        font-size: 1.25rem;
      }
    }
  }
  .tophead--logo {
    width: 90vw;
    padding-right: 2rem;
  }
}
.background {
  img {
    width: 100%;
  }
}
.dishes {
    &--header {
        h2{
            font-weight: map-get($font-weights, thin);
            font-size: medium;
            padding-left: .25rem;
            border-bottom: 3px solid $tertiary;
        }
      
    }
  }

.menu {
  box-sizing: border-box;
  background: map-get($gray-shades, light);
  border-radius: 2rem 2rem 0 0;
  position: absolute;
  top: 15rem;
  width: 100%;
  padding: 1rem;

  &--title {
    position: relative;
    h2 {
      font-family: "Shrikhand", cursive;
    }

    .restaurants--card--heart {
      position: absolute;
      top: -0.25rem;
      margin: 0;
      right: 0.5rem;
    }
  }

  
  &--card {
    display: flex;
    overflow: hidden;
    background-color: $white;
    border-radius: 14px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding: .5rem 0 .5rem .5rem;
    box-shadow: 0 5px 10px rgba($color: $black, $alpha: .25);

    &--description {
      width: 70%;
      font-weight: map-get($font-weights, thin);

      &--title {
        margin: 0;
        padding-bottom: 0.5rem;
        font-weight: normal;
      }
       p {
          margin: 0;
          padding-bottom: .25rem;

      }
    }
    &--price {
      width: 30%;
      padding-bottom: .25rem;
      text-align: center;

      justify-content: center;
      align-self: flex-end;
      font-weight: map-get($font-weights, medium);
    }
    &--checkmark {
      /* visibility: hidden;*/
      display: none;
      background-color: lightskyblue;
      width: 15%;

      & span {
        color: $white;
      }
    }
  }
}
